{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card shadow-sm">
            <div class="card-header">
                <h2>Create Quiz</h2>
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                {% endwith %}
                <form method="post">
                    <div class="input-group my-3">
                        <label for="id_title" class="input-group-text">Quiz Title</label>
                        <input id="id_title" type="text" class="form-control" name="title"  required>
                    </div>
                    <div class="input-group my-3">
                        <label for="id_no" class="input-group-text">No. of questions</label>
                        <input id="id_no" type="number" class="form-control" name="no_of_questions"  required>
                    </div>
                    <div class="input-group my-3">
                        <label class="input-group-text">Quiz starts at </label>
                        <input type="datetime-local" name="starts_at" class="form-control" id="id_starts_at"  required>
                    </div>
                    <div class="input-group my-3">
                        <label class="input-group-text">Quiz duration </label>
                        <input type="number" name="hour" class="form-control" placeholder="(hours)" required id="id_hour">
                        <input type="number" name="minute" class="form-control" placeholder="(minutes)" required id="id_minute" >
                    </div>
                    <button class="btn btn-success my-3" type="submit"><b>Create</b></button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}