{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h2>Edit your profile</h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li>{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                    <div class="mb-3">
                        <label for="id_fname" class="form-label">First Name</label>
                        <input id="id_fname" type="text" class="form-control" name="fname" value="{{ user.fname }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_lname" class="form-label">Last Name</label>
                        <input id="id_lname" type="text" class="form-control" name="lname" value="{{ user.lname }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_email" class="form-label">Email</label>
                        <input id="id_email" type="email" class="form-control" name="email"  value="{{ user.email }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_age" class="form-label">Age</label>
                        <input id="id_age" type="number" class="form-control" name="age" value="{{ user.age }}" required> 
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}