{% extends 'base.html' %}
{% block content %}


<div class="container col-xxl-8 px-3 py-4">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/quiz-thumb.jpg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Create or Take Quiz with our FunQuiz App</h1>
        <p class="lead">Introducing FunQuiz - the ultimate trivia app! Test your knowledge across various topics and compete with friends worldwide. Earn achievements, climb the leaderboard, and have a blast!</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <a href="/register" class="btn btn-warning fw-bold btn-lg px-4 me-md-2">Get Started</a>
          <a href="/login" class="btn btn-outline-secondary fw-bold btn-lg px-4">Login</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}