{% extends 'base.html' %}
{% block content %}


{% if not user %}
<div class="alert alert-warning">
    <p>Please login to this application to continue..</p>
    <p><a href="/login">Click here to login...</a></p>
</div>
{% endif %}

<div class="row">
{% if user %}
    <div class="col-md-4">
        <div class="card m-3">
            <div class="card-body">
                <table class="table">
                    <tr><td>Name</td><th>{{ user.full_name() }}</th></tr>
                    <tr><td>Email</td><th>{{ user.email }}</th></tr>
                    <tr><td>Age</td><th>{{ user.age }}</th></tr>
                </table>
                <a href="/edit-profile" class="btn btn-outline-success m-2">Edit Profile</a>
                <a href="/logout" class="btn btn-outline-success m-2">Logout</a>
            </div>
        </div>
    </div>
    {% endif %}
    


    <div class="col-md-8">
        {% if user %}
        {% if user.is_admin() %}
        <a href="/quiz/create" class="btn btn-outline-success"><b>Create New Quiz</b></a>        
        {% endif %}


        {% endif %}

            {% for quiz in quizzes %}
            <div class="card my-2">
                <div class="card-body">
                    <p><b>{{ quiz.title }}</b></p>
                    <ul>
                        <li>Starts at: {{quiz.starts_at}}</li>
                        <li>Duration: {{quiz.duration}} </li>
                        <li>No. of questions: {{quiz.no_of_questions}}</li>
                    </ul>
                    {% if quiz.is_expired() %}
                    <button class="btn btn-outline-danger disabled" disabled>EXPIRED</button>
                    {% else %}
                    <a class="btn btn-outline-success" href="/quiz/attend/{{quiz.code}}">Attend Quiz</a>
                    {% endif %}
                    {% if user %}
                    {% if user.is_admin() %}
                    <a href="quiz/stats/{{quiz.code}}" class="btn btn-outline-primary">Statistics</a>
                    <a href="quiz/delete/{{quiz.code}}" class="btn btn-outline-danger">Delete Quiz</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
    </div>
</div>

{% endblock content %}